extends layout

block content
    section#content
        h2= text
        if hint
            p
                i Hint : #{hint}
        a(href=`${id}?side=${sideToShow}`)= sideToShowDisplay
        br
        a(href='/cards') Next Card
        //if side=question
        //    form(action='/#?side=answer', method='post')
        //        button(type='submit') Answer
        //else
        //    form(action=/#?side=question, method='post')
        //        button(type='submit') Question
